body {
    background-color: lightblue;
  }
  
h2 {
    color:blue;
  }
  
p {
    color: rgb(12, 14, 12);
    margin-right: 8px;
    margin-right: 25px;
  }

.display{
  color: rgb(196, 21, 21);
  border-radius: 5px;
  background: rgb(109, 103, 103);
  height: 30px;
  text-align: right;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 22px;
  }

.bloquecen{
  display: inline-block;
  color: black;
  background-color:  rgba(124, 114, 101, 0.5);
  text-align: center;
  border-radius: 7px;
  border: 2px solid honeydew;
  height: px;
  width: 500px;
  padding: 3px;      
  margin: 3px;
}
button{
  background-color: rgba(87, 87, 90, 0.6);
  color: black;
  padding: 14px;
  font-size: 16px;
  margin: 5px 2px;
  margin-left: 16px;
  border-radius: 20px 20px 20px 20px;
  border: 3px solid rgba(87, 87, 90, 0.6);
  width: 75px;
}
