/* Documento de estilo del CV de John Wick */
html {
    background-image: url("hoja\ cv.jpg");
    background-size: cover; 
}
body {
    background-color: none;
}
/* Estilo encabezado */
h1{
    text-align: center;
    color: rgb(56, 51, 51);
    border: solid;
    border-color: black;
}

h6{
    text-align: left;
    color: black;
}

.tituloscenter{
    background-color: none;
    color:black;
    padding: 0px;
    margin: 0px;
    border: none;
    border-color:none;
    text-align: center;
}

.skills{
    display: inline-block;
    text-align: center;
    align-items: center;
    list-style: none;
}

.bloqueizq{
    display: inline-block; /*Bloques a la misma altura */
    width: "260";
    height: "125";
    border: solid;
    border-color: black;
}

.bloquecen{
    display: inline-block;
    width: "260";
    height: "125";
    border: solid;
    border-color: black;
}
