/* Documento de estilo del CV de John Wick */
html {
    background-image: url("fondo.jpg");
    /* background-size: cover; */

body{
    background-color: none;
}
/* Estilo encabezado */
h1{
    text-align: center;
}

h2 {
    background-color: green;
    color:black;
}

h3 {
    background-color: white;
    color:red;
}

h4 {
    background-color: yellow;
    color: green;
}

h3{
    padding: 0px;
    margin: 0px;
    border: solid;
    border-color: black;
}
h2{
    padding: 0px;
    margin: 0px;
    border: solid;
    border-color: black;
}
h4{
    padding: 0px;
    margin: 0px;
    border: solid;
    border-color: black;
}